<a href="https://colab.research.google.com/github/dora-kds/python-for-data-science/blob/master/python_practice_3_my.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Оператори порівняння та логічні оператори. Умови.

1. (5б) Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
num = 9
if num %2 == 0:
  print(num*2)
else:
  print(num*3+1)

28

2. (9б) Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [ ]:
any_list = [12,12]
if not any_list:
  any_list.append(1)
print(any_list)

[12, 12]

3. (13б) Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
line = "Karnaukh Daria"
if "a" in line or "i" in line:
  print("A or I is in the name")
if "o" in line and "n" in line:
   print("O and N is in the name")
elif "n" in line:
  print("Only N is in the name")
else:
  print("There is no N in the name, but there might be O")

A or I is in the name
Only N is in the name

# II. Comprehensions.

4. (5б) Створіть список, використовуючи if (не if-else), range та comprehension.

In [ ]:
my_list = []
for num in range(10):
  if num %2 == 0:
    my_list.append(num)
print(my_list)

my_list1 = [num for num in range(10) if num % 2 == 0 ]
print(my_list1)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

5. (9б) Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [ ]:
dict ={n: ("even" if n%2 == 0 else "odd") for n in range(1, 6)}
print(dict)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

якщо умова нескладна і її логіка легко зрозуміла краще використовувати comprehension через лаконічний запис.

6. (9б) Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [ ]:
words_list = ['hello', 'i', 'dont', 'care']
new_words_list = [word[:3].upper() for word in words_list]
print(new_words_list)

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. (5б) Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
i = 1
while i < 4:
  print(i)
  i+=1

1
2
3

8. (5б) Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
i = 0
while i <= 20:
  if i%2 != 0:
    print(i)
  i+=1

1
3
5
7
9
11
13
15
17
19

9. (13б) Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [ ]:
list9 = [True, True, None, False]
res  = []
for i in range(len(list9)):
  res.append((i, list9[i]))
print(res)

[(0, True), (1, True), (2, None), (3, False)]

10. (9б) Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [ ]:
library = {'Hamlet': 8, 'Love story':3, 'Twilight': 17, 'And Then There Were None': 5, 'Art history':3, 'If we were villains': 4}
for book in library:
  library[book]+=5
print(library)

{'Hamlet': 13, 'Love story': 8, 'Twilight': 22, 'And Then There Were None': 10, 'Art history': 8, 'If we were villains': 9}

11. (5б) Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [ ]:
n = 6
for i in range(1, n+1):
  print("#"*i)

#
##
###
####
#####
######

12. (13б) Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [14]:
import random
num_org = random.randint(1, 100)
input_num = int(input())
attempts = 0

while input_num != num_org:
    attempts += 1

    if input_num < num_org:
        print("try bigger")
    else:
        print("try smaller")

    input_num = int(input())

attempts += 1

print("You're right!")
print(f"Amount of attempts: {attempts}")

60
try bigger
78
try smaller
70
try bigger
73
You're right!
Amount of attempts: 4

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.